
[submodule "config/tmux/.config/.tmux"]
	path = config/tmux/.config/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "config/zsh/.config/oh-my-zsh"]
	path = config/zsh/.config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "config/tmux/.config/tmux/.tmux"]
	path = config/tmux/.config/tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
